@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

button,
input,
select,
textarea {
    margin: 0;
    color: inherit;
    background-color: transparent;
    border-style: none;
    vertical-align: middle;
}


/*　Android and iOS and Safari　*/

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

*,
*:before,
*:after {
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $darkBlue;
    text-decoration: none;
    &.txt-underline {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &.text-underline {
        position: relative;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $darkBlue, inset 0 -3px 0 0 #d4d6d7;
        -ms-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $darkBlue, inset 0 -3px 0 0 #d4d6d7;
        -moz-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $darkBlue, inset 0 -3px 0 0 #d4d6d7;
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $darkBlue, inset 0 -3px 0 0 #d4d6d7;
        /*inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $darkBlue, inset 0 -3px 0 0 #d4d6d7*/
    }
    &.text-underline02 {
        position: relative;
        /*-webkit-box-shadow: 0 1px 0 0 #d4d6d7, 0 1px 0 0 #fff, 0 2px 0 0 $darkBlue;
        -ms-box-shadow: 0 1px 0 0 #d4d6d7, 0 1px 0 0 #fff, 0 2px 0 0 $darkBlue;
        -moz-box-shadow: 0 1px 0 0 #d4d6d7, 0 1px 0 0 #fff, 0 2px 0 0 $darkBlue;
        box-shadow: 0 1px 0 0 #d4d6d7, 0 1px 0 0 #fff, 0 2px 0 0 $darkBlue;*/
        background: url(../images/text_underline.jpg) repeat-x bottom left;
    }
    &.text-underline2 {
        position: relative;
        -webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
        -ms-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
        -moz-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
    }
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-text-size-adjust: inherit;
    -moz-text-size-adjust: inherit;
    -ms-text-size-adjust: inherit;
    -o-text-size-adjust: inherit;
    text-size-adjust: inherit;
    font-family: "Hiragino Kaku Gothic Std W6", ヒラギノ角ゴ Std W6, メイリオ, Meiryo, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    color: $darkBlue;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

select::-ms-expand {
    display: none;
}