.mainvisual {
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 22px;
    background: #f7f7f7;
    .slick-list {
        padding-bottom: 10px;
    }
    &__slider-main {
        &__item {
            position: relative;
            background-repeat: no-repeat;
            background-position: center bottom;
            color: #fff;
            -webkit-background-size: cover;
            -ms-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;

            &__window {
                max-width: 100%;
                width: 100%;
                height: 62.5vw;
                max-height: 468px;
                overflow: hidden;
                position: relative;
                &>img {
                    top: -100%;
                    bottom: -100%;
                    width: 100%;
                    margin: auto;
                    position: absolute;
                }
            }
            &__des {
                position: absolute;
                width: 100%;
                bottom: 0;
                background: rgba(0, 0, 0, 0.7);
                padding: 11px 10px 8px;
                h2 {
                    position: absolute;
                    top: -22px;
                    left: 10px;
                    >span {
                        background: $darkBlue;
                        color: #fff;
                        font-size: 12px;
                        display: inline-block;
                        padding: 6px 10px 5px;
                        line-height: 12px;
                        display: inline-block;
                        min-width: 40px;
                        @include border-top-radius(3px);
                    }
                }
            }
            .article-des {
                &__title {
                    font-size: 18px;
                    line-height: 22px;
                    color: #fff;
                    &:before {
                        content: "\f105";
                        display: inline-block;
                        font-family: "FontAwesome";
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
                &__summary {
                    display:none;
                }
            }
        }
    }
    .slick-next,
    .slick-prev {
        position: absolute;
        top: 50%;
        height: 120px;
        width: 40px;
        background-color: transparent;
        padding: 0;
        z-index: 9;
        color: $darkBlue;
        font-size: 30px;
        -webkit-transform: translate(0, -70%);
        -ms-transform: translate(0, -70%);
        -moz-transform: translate(0, -70%);
        transform: translate(0, -70%);
    }
    .slick-next {
        right: 0;
        text-align: right;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/arrow-right.png);
    }
    .slick-prev {
        left: 0;
        padding-left: 0;
        text-align: left;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/arrow-left.png);
    }
}

@media (min-width: 767px) {
    .mainvisual {
        position: relative;
        background: none;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        &__slider-main {
            &__item {
                &__window {
                    max-height: 423px;
                    height: 423px;
                }
                &__des {
                    background: #EFF4F7;
                    color: #333;
                    margin-left: 40px;
                    margin-right: 40px;
                    width: calc(100% - 80px);
                    p {
                        color: #333;
                    }
                }
            }
        }
        &__inner {
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            position: relative;
        }
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 423px;
            width: calc(50% - 360px);
            background: rgba(0, 0, 0, 0.7);
            z-index: 9;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }

        .slick-next,
        .slick-prev {
            cursor: pointer;
            z-index: 100;
        }
        .slick-list,
        .slick-slider {
            overflow: inherit;
        }
        .slick-slide {
            position: relative;

            &.slick-current {
                &:before {
                    content: none;
                    z-index: -1;
                }
            }
        }
    /***Description***/
    .article-des {
        padding: 20px 10px 20px !important;
        h2{
            left:0;
            >span{
                font-size: 14px;
                min-width: 95px;
                text-align: center;
                padding-left: 22px;
                padding-right: 22px;
            }
        }
        &__title {
            font-size: 26px;
            line-height: 1.2;
            font-weight: bold;
            color: #001c25;
            margin-bottom: 18px;
            &:before {
                content: none;
            }
        }
        &__summary {
            display: block;
            font-size: 14px;
            line-height: 21px;
        }
    }
    /***End Description***/
    }
}

@media (max-width: 640px) {
    .mainvisual {
        .slick-next,
        .slick-prev {
            width: 6.25vw;
            height: 18.75vw;
        }
    }
}

@media (max-width: 490px) {
    .mainvisual {
        .slick-next,
        .slick-prev {
            -webkit-transform: translate(0, -90%);
            -ms-transform: translate(0, -90%);
            -moz-transform: translate(0, -90%);
            transform: translate(0, -90%);
        }
    }
}

@media (max-width: 375px) {
    .mainvisual {
        .slick-next,
        .slick-prev {
            -webkit-transform: translate(0, -108%);
            -ms-transform: translate(0, -108%);
            -moz-transform: translate(0, -108%);
            transform: translate(0, -108%);
        }
    }
}