.modal-login{
    max-width: 300px;
    width: 300px;
    display: none;
    padding:18px 10px 19px;
    font-size: 14px;
    @include border-radius(3px);
    @include b(modal-login-intro){
        font-size:12px;
        line-height: 16px;
        margin-bottom: 18px;
        padding-top: 9px;
        @include e(title){
            color:$lightBlue;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 11px;
        }
        @include e(content){
            margin-bottom: 10px;
        }
    }
    .block-form__sec{
        padding-bottom: 25px;
        &:last-child{
            padding-bottom: 0;
        }
    }
    .title-center{
        margin-bottom: 10px;
    }
    &__head{
        text-align: center; font-size: 16px;
        margin-bottom: 12px;
        font-weight: bold;
        line-height: 15px;
    }
    .form-control{
        font-size: 14px;
        color:$darkBlue;
        height:38px;
    }
    &__logo{
        text-align: center;
        font-size: 0;
        margin-bottom: 12px;
        img{
            width: 140px;
        }
    }
    .fancybox-close-small{
        &:after{
            content:"";
            top: 6px;
            right: 6px;
            background: url(../images/btn-close-modal.png) no-repeat;
            @include background-size(30px 30px);
        }
    }
    &__link-txt{
        font-size: 12px;
    }
    &__social-list{
        text-align: center;
        margin-left: -4px;
        margin-right: -4px;
        margin-bottom: 24px;
        font-size: 0;
        >li{
            display: inline-block;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 0;
            img{
                width: 60px;
                font-size: 0;
            }

            button {
                padding: 0px;
            }
        }
    }
    &__footer{
        padding-top:9px;
        text-align: center;
        border-top:2px solid #e1e7eb;
        .btn{
            margin-top:11px;
        }
    }
    &__alert-error{
        color:#de1616;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
        margin-top: -1px;
    }
}
.fancybox-bg{
    background:#000;
}
@media (min-width: 768px) {
    .modal-login {
        &__inner {
            button.btn {
                width: 100%;
            }
        }
    }
}