@charset "utf-8";
.bookshelf-page {
    .item-list {
        .block-option {
            padding-top: 10px;
        }
        &__thumb,
        &__arrow,
        &__des {
            padding-top: 15px;
            // overflow: hidden;
        }
        &__thumb {
            // width: 60px;
        }
        &__des {
            // width: calc(100% - 84px);
            
            &__title {
                font-size: 12px;
            }
            &__cat {
                font-size: 9px;
                margin-top: 6px;
            }
            &__gray-box {
                font-size: 9px;
                padding: 0px;
                width: 100%;
                position: relative;
                background-color: white;

                textarea {
                    @include webkit-input-placeholder($lightBlue);
                    font-size: 9px;
                    letter-spacing: 1px;
                    max-width: calc( 100vw - 170px );
                    min-width: 200px;
                    min-height: 70px;
                    padding: 8px;
                    font-family: "Hiragino Kaku Gothic Std W6",ヒラギノ角ゴ Std W6,メイリオ, Meiryo, sans-serif;
                    color: $darkBlue;
                    background: #eff4f7;
                    overflow: hidden;
                }


            }
        }
    }
    .block-option__share__social__list li>a>img {
        border-radius: 50%;
    }
}

@media(min-width:768px){
    .bookshelf-page .item-list__des__gray-box textarea {
        max-width: 590px;
    }
    .bookshelf-page {
        .item-list {
            &__des {
                &__title {
                    font-size: 18px;
                }
                &__cat {
                    font-size: 12px;
                }
                &__gray-box {
                    textarea {
                        max-width: 100%;
                        font-size: 14px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.block-botttom a.btn {
    width: 300px;
}