@charset "utf-8";
.edit-info-member-page {
	.page-title{
		margin-bottom: 18px;
	}
	.block-note{
		font-size: 12px;
		margin-bottom: 12px;
		&__txt{
			padding-left: 14px;
			margin-bottom: 8px;
			color: $org;
			position: relative;
			line-height: 18px;
			&:before {
				content: "※";
				position: absolute;
				color:$org;
				top: 0;
				left: 0;
			}
		}
		
		&.pc {
			display: none;
		}
	}
	.block-form{
		.sub-title{
			margin-bottom: 11px;
		}
		.input-group{
			&__control{
				input{
				font-size:12px;
				}
			}
			&__addon{
				&__btn{
					min-width: 70px;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
		.form-control{
			font-size: 12px;
		}
		.btn{
			font-size: 12px;
			&--yellow{
				padding-top: 14px;
			}
			&--gray-top{
				background:#e1e7eb;
				@include box-shadow( inset 0 1px rgba(0,25,37,.25));
				@include text-shadow(0 1px #fff);
			}
			
			&--gray-btm{
				@extend .btn--gray-top;
				@include box-shadow(0 1px rgba(0,25,37,.25));
			}
		}
		.list-inline{
			&__left,
			&__right{
				padding-bottom: 0;
			}
			&__right{
				width:70px;
				word-spacing: -2px;
			}
			.btn{
				letter-spacing: 0;
				white-space: nowrap;
				min-height: 39px;
				height:39px;
			}
		}
		.row-btn{
			&__pull-left,
			&__pull-right{
				padding-top:0;
				padding-bottom: 0;
			}
		}
		.zip-box{
			.btn{
				font-size: 14px;
			}
			&__text{
				margin:24px 0 26px;
				letter-spacing: 2px;
				font-size: 12px;
			}
		}
	}
	.block-form-confirm{
		.block-form__sec{
			padding-bottom: 10px;
			& .form-group {
				margin-bottom: 10px;
				& p {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
	}
	.form-confirm-restaurant{
		.block-form__area:last-child{
			.block-form__sec:last-child{
				padding-bottom: 0;
				.form-group:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.edit-info-member{
		.block-form__sec:last-child{
			padding-bottom: 7px;
		}
	}
	/***End .block-form***/
	.sec-sns{
		.list-inline{
			margin-bottom: 18px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.sec-state{
		padding-bottom: 28px;
		.group-radio-list{
			margin-bottom: 12px;
		}
	}
	.sec-info {
		padding-bottom: 11px;
	}
}

@media (min-width: 768px) {
	.edit-info-member-page .block-form .form-control, 
	.edit-info-member-page .block-form .select-group label, 
	.select-group .edit-info-member-page .block-form label, 
	.edit-info-member-page .block-form .input-group {
		font-size: 18px;
		height: 45px;
	}
	.edit-info-member-page {
		.block-note{
			margin-bottom: 20px;
			&__txt {
				font-size: 18px;
				line-height: 27px;
				padding-left: 0px;
				&::before {
					content: none;
				}
			}
			.text-underline {
				font-size: 18px;
				line-height: 27px;
			}
			&.sp {
				display: none;
			}
			&.pc {
				display: block;
			}
			p.pl15 {
				padding-left: 0px;
			}
		}
		.block-form {
			.title-center {
				font-size: 24px;
				span {
					padding: 0 35px;
				}
			}
			.sub-title {
				font-size: 18px;
				margin-bottom: 18px;
			}
			&__sec {
				padding-bottom: 0px;
				.form-group {
					margin-bottom: 18px;
					p {
						font-size: 18px;
						line-height: 32px;
						button {
							font-size: 18px;
							padding: 11px 16px 10px;
						}
					}
					.input-group__addon {
						height: 45px;
						span {
							height: 44px;
						}
					}
					.group-radio-list {
						li {
							label {
								span {
									font-size: 24px;
								}
							}
						}
					}
					.row-btn {
						margin-bottom: 30px;
						p {
							button.btn {
								width: 100%;
							}
						}
					}
					.select-group {
						select {
							font-size: 18px;
						}
					}
				}
			}
			.input-group__control input {
				font-size: 18px;
				height: 45px;
			}
			.input-placeholder>label>span {
				font-size: 18px;
			}
			.zip-box {
				.btn {
					font-size: 18px;
				}
			}
		}
	}
	.edit-info-page {
		.block-form {
			.title-center {
				font-size: 24px;
				span {
					padding: 0 35px;
				}
			}
			&__sec {
				padding-bottom: 18px;
			}
		}
		.form-group {
			.group-radio-list {
				li {
					label {
						span {
							font-size: 24px;
						}
					}
				}
			}
			.sub-title {
				font-size: 18px;
			}
		}
		.form-control, .select-group label, .input-group {
			font-size: 18px;
			height: 45px;
		}
		.block-alert {
			&__title {
				font-size: 24px;
			}
			&__list li {
				font-size: 16px;
				line-height: 28px;
				padding-left: 20px;
				&::before {
					top: 30%;
				}
			}
		}
		.select-group select {
			font-size: 18px;
			height: 45px;
		}
	}
}