@charset "utf-8";
.block-error-page{
    padding:25px 0 10px;
    &--maintenance{
        img{
            width: 300px;
        }
    }
    &--504{
        img{
            width: 260px;
        }
    }
    &--503{
        img{
            width: 260px;
        }
    }
    &--500{
        img{
            width: 260px;
        }
    }
    &--400{
        padding-bottom: 25px;
        img{
            width: 262px;
        }
    }
    &--403{
        padding-bottom: 25px;
        img{
            width: 260px;
        }
    }
    &--404{
        padding-bottom: 25px;
        img{
            width: 260px;
        }
    }
    &__des{
        text-align: center;
        padding-bottom: 25px;
    }
    &__note{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        p{
            display: inline-block;
            text-align: left;
        }
    }
}
@media (min-width: 768px) {
    .error-page {
        margin-top: 20px;
        ~ .sidebar {
            margin-top: 20px;
        }
    }
    .block-error-page {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #a0a0a0;
        &__des{ 
            padding-bottom: 40px;
        }
        &__note {
            p {
                font-size: 24px;
                line-height: 36px;
                text-align: center;
            }
        }
        &--400{
            img{
                width: 524px;
            }
        }
        &--403 {
            img {
                width: 520px;
            }
        }
        &--404 {
            img {
                width: 522px;
            }
        }
        &--500 {
            img {
                width: 520px;
            }
        }
        &--503 {
            img {
                width: 600px;
            }
        }
        &--504 {
            img {
                width: 520px;
            }
        }
        &--maintenance {
            img {
                width: 600px;
            }
        }
    }
}
