.logout-page {
	.block-logout{
		overflow: hidden;
		&__title{
			margin-top: 11px;
			font-size: 16px;
			text-align: center;
			margin-bottom: 26px;
			font-weight: bold;
		}
		&__btn-list{
			padding-bottom: 12px;
			li {
				overflow: hidden;
				.btn--yellow{
					margin-bottom: 1px;
				}
				margin-bottom: 11px;
				
			}
		}
	}
}
@media (min-width:767px) {
	.logout-page {
		.block-logout {
			&__title{ 
				font-size: 24px;
				margin-bottom: 20px;
			}
			&__btn-list {
				li {
					text-align: center;
					a.btn {
						width: 300px;
						@include border-radius(7px);
					}
				}
			}
		}
	}
}