@charset "utf-8";
.block-art-detail {
	margin-bottom: 60px;
	&__category {
		background: #eff4f7;
		padding: 10px;
		margin-left: -10px;
		margin-right: -10px;
	    &__text {
		    float: left;
    		color: $darkBlue;
    		font-size: 12px;
	    }
	    &__date {
	    	float: right;
		    color: $darkBlue;
		    letter-spacing: 0.2px;
		    font-size: 9px;
			line-height: 15px;
	    }
	}
	&__des {
		font-weight: bold;
		padding: 18px 0;
		font-size: 20px;
	}
	&__img_sample {
		margin-right: -10px;
    	margin-left: -10px;
    	margin-bottom: 24px;
		& img {
			width: 100%;
			height: auto;
		}
	}
	&__read {
		&_list {
			font-size: 12px;
		    position: relative;
		    display: table;
		    width: 100%;
		    border-collapse: collapse;
		    margin-bottom: 18px;
		    & dt {
    	    	vertical-align: top;
			    width: 28px;
			    display: table-cell;
			    > span {
			    	background: #fbe43c;
				    width: 16px;
				    height: 16px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border-radius: 100%;
				    -webkit-border-radius: 100%;
				    -moz-border-radius: 100%;
				    -ms-border-radius: 100%;
				    -o-border-radius: 100%;
				    text-align: center;
				    line-height: 12px;
				    position: relative;
				    &:after {
				    	content: "";
					    display: block;
					    position: absolute;
					    right: -5px;
					    top: 50%;
					    width: 0;
					    height: 0px;
					    margin-top: -4px;
					    border-top: 4px solid transparent;
					    border-bottom: 4px solid transparent;
					    border-left: 8px solid #fbe43c;
				    }
			    }
		    }
		    & dl {
	    	    display: table-cell;
    			vertical-align: top;
    			overflow: hidden;
		    }
		    &:last-child {
		    	margin-bottom: 0;
		    }
		}
	}
	&__read-text{
		font-size: 12px;
		font-weight: bold;
		line-height: 22px;
	}
	&__social {
		margin: 18px 0 30px;
		& ul li {
			display: inline-block;
		    width: 40px;
		    margin-right: 11px;
		    &:last-child {
		    	margin-right: 0;
		    }
		    & img {
		    	width: 100%;
    			display: block;
		    }
		}
	}
	&__title,
	&__sentence > h2,
	& .ql-editor > h2 {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 30px;
		padding-left: 10px;
		letter-spacing: -1px;
		text-align: center;
	}
	&__subtitle,
	&__sentence > h3:not(.block-art-detail__des),
	& .ql-editor > h3:not(.block-art-detail__des) {
		font-weight: bold;
	    font-size: 17px;
	    margin-bottom: 19px;
	    padding-left: 10px;
	    position: relative;
	    line-height: 22px;
	    /*letter-spacing: 4px;*/
		&:before {
			content: "";
		    background: #fbe43c;
		    width: 5px;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		}
	}

	&__sentence > * {
		word-break: break-all;
	}

	&__text,
	&__sentence > p,
	& .ql-editor > p {
		margin-bottom: 25px;
		line-height: 28px;
		font-size: 15px;
	}
	&__sentence > p + p.linebreak-true,
	& .ql-editor > p + p.linebreak-true {
        margin-top: -25px;
    }
    &__sentence a,
    & .ql-editor a {
    	position: relative;
		-webkit-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
		-ms-box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
		box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $lightBlue, inset 0 -3px 0 0 #fff;
		color: $lightBlue;
    }

    &__sentence img,
    & .ql-editor img {
    	max-width: 100%;
    }

	&__text_list,
	&__sentence > ul,
	& .ql-editor > ul {
		& li {
			margin-bottom: 25px;
			position: relative;
			padding-left: 20px;
		    font-size: 14px;
			&:after {
				content: "";
				display: block;
				background: #fbe43c;
			    width: 10px;
			    height: 10px;
			    position: absolute;
		        top: 3px;
    			left: 1px;
			    border-radius: 100%;
			    -webkit-border-radius: 100%;
			    -moz-border-radius: 100%;
			    -ms-border-radius: 100%;
			    -o-border-radius: 100%;
			}
			&:last-child {
				margin-bottom: 32px
			}
			&:before {
				content: "";
			}
		}
	}

	&__sentence > ol,
	& .ql-editor > ol {
		counter-reset: olcounter;
		& > li {
			margin-bottom: 25px;
			position: relative;
			padding-left: 20px;
		    font-size: 14px;

		    &:before {
				content: "";
			}
			
			&:after {
				counter-increment: olcounter;
				content: counter(olcounter);
				display: block;
				background: #fbe43c;
				height: 16px;
				line-height: 16px;
				padding-left: 4px;
				padding-right: 4px;
				font-size: 12px;
				position: absolute;
				left: 0px;
				top: 3px;
				text-align: center;
				border-radius: 100%;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				-ms-border-radius: 100%;
				-o-border-radius: 100%;
			}
		}
	}

	&__text_qoute {
		background: #eff4f7;
		padding: 30px 10px;
		position: relative;
		margin-bottom: 25px;
		& .qoute {
			position: absolute;
			z-index: 1;
			& img {
				width: 60px;
			}
		}
		& .qoute--top {
			top: 10px;
			left: 10px;
		}
		& .qoute--bottom {
			bottom: 10px;
			right: 10px;
		}
		& p {
			z-index: 2;
		    display: block;
		    position: relative;
		}
		&-des {
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		&-link {
			font-size: 9px;
			line-height: 14px;
		}
	}

	&__sentence > blockquote,
	& .ql-editor > blockquote {
		padding: 30px 10px;
		position: relative;
		z-index: 10;
	    display: block;
	    position: relative;
	    font-size: 12px;
		line-height: 20px;
		background: #eff4f7;

		& > a {
			font-size: 9px;
			line-height: 14px;
			position: relative;
		}

		& > span.qoute.qoute--bottom{
			position: absolute;
			right: 8px;
			bottom: 8px;
			width: 60px;
			z-index: -1;
		}
	}

	& blockquote + blockquote.linebreak-true {
		margin-top: -25px;
		padding-top: 0px;
	}

	& *:not(blockquote) + blockquote,
	& blockquote.linebreak-true + blockquote:not(.linebreak-true){
		margin-top:25px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			background-image: url(/images/qoute_top.png);
			width: 60px;
			height: 40px;
			background-size: contain;
			z-index: -1;
			top: 10px;
		}
	}

	& blockquote + *{
		margin-top:25px;
		position:relative;
	}

	&__sentence .ql-size-huge,
	& .ql-editor > .ql-size-huge {
		font-size: 2rem;
	}

	&__sentence .ql-size-large,
	& .ql-editor > .ql-size-large {
		font-size: 1.5rem;
	}

	&__sentence .ql-size-small,
	& .ql-editor > .ql-size-small {
		font-size: 0.8em;
	}

	&__text_interview {
		& li {
			margin-bottom: 29px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__question {
		    position: relative;
    		padding-left: 10px;
    		padding-right: 10px;
    		margin-bottom: 23px;
    		line-height: 24px;
			&:before {
			    content: "";
			    width: 10px;
			    height: 2px;
			    background: #000;
			    display: block;
			    position: absolute;
			    top: 10px;
			    left: -5px;
			}
		}
		&__answer {
			font-size: 15px;
			line-height: 28px;
		}
	}

	&__sentence .bar-list-on,
	& .ql-editor > .bar-list-on {
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 23px;
		line-height: 24px;
		&:before {
		    content: "";
		    width: 10px;
		    height: 2px;
		    background: #000;
		    display: block;
		    position: absolute;
		    top: 10px;
		    left: -5px;
		}
	}

	&__photo {
		margin-top: 15px;
		background: #f1f5f8;
		& img {
			display: block;
		    width: 100%;
		    height: auto;
		}
	}
	&__photo__des {
		padding: 10px;
		background: #f1f5f8;
		font-size:12px;
		line-height:15px;
		margin-bottom: 25px;
	}
	&__copyright {
		text-align: right;
		& .copyright {
			font-size: 9px;
			margin-bottom: 5px;
		}
		& .author {
			font-size: 12px;
			& .Writtenby {
				font-size: 9px;
			}
		}
	}
	& .btn {
		padding: 15px 10px 15px;
	}
	&__tags {
		margin-bottom: 15px;
		& li {
			display: inline-block;
			margin: 0 5px 5px 0;
			& a {
		        display: block;
			    background: #eff4f7;
			    padding: 7.5px 8px;
			    font-size: 12px;
				border-radius: 4px;
			    -webkit-border-radius: 4px;
			    -moz-border-radius: 4px;
			    -ms-border-radius: 4px;
			    -o-border-radius: 4px;
			}
		}
	}
	&__subsidy {
		background: #ffffff;
		padding: 18px 10px;
		border: 2px solid $yellow;
		margin-bottom: 15px;
		& .title {
			font-weight: bold;
			text-align: center;
			font-size: 18px;
			margin-bottom: 10px;
		}
		& .subtitle {
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 21px;
		}
		& .des {
			line-height: 24px;
		}
		& .info {
			font-size: 12px;
		}
	}
	&__other {
		& .block-accordion__content {
			display: none;
		    padding: 0 10px 10px;
			text-align: justify;
			word-break: break-all;
		}
	}
	&__contact-info{
		padding-top: 5px;
		dl{
			display: table;
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 7px;
			&:last-child{
				margin-bottom: 0;
			}
			dt,dd{
				display: table-cell;
				text-align: left;
				vertical-align: top;
			}
			dt{
				font-weight: bold;
				width: 36px;
			}
		}
	}
	.block-article-none{
		background:none;
		@include box-shadow(none);
		margin-top: 28px;
		margin-bottom: 30px;
	}

	& + .block-home-list__title{
		margin-bottom:12px;
	}
}

.ql-editor {
	color: black;
	font-size: 15px
}