@charset "utf-8";
.password-forgotten-page {
    .input-group__control input {
        font-size: 14px;
    }
    .email-text {
        margin-bottom: 2px;
        font-weight: bold;
    }

    .block-form__sec {
        padding-bottom: 10px;
    }
    .form-group,
    .input-group {
        margin-bottom: 0;
    }
}

.password-forgotten {
    &__text {
        margin-bottom: 7px;
        line-height: 20px;
    }
    &__note {
        margin: 16px 0 9px;
        font-size: 12px;
        line-height: 16px;
        &__asterisk {
            position: relative;
            padding-left: 15px;
            &::before {
                content: "＊";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        a {
            color: $lightBlue;
            font-weight: bold;
        }
    }
    /*** When password forgotten success***/
    &--complete {
        padding-bottom: 118px;
    }
    &__success {
        font-size: 12px;
        line-height: 16px;
        &__title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 10px;
            text-align: center;
        }
        &__email {
            margin: 19px 0 39px;
            color: $lightBlue;
            font-size: 15px;
            text-align: center;
        }
        &__again {
            margin-top: 14px;
            margin-bottom: 3px;
            display: inline-block;
            color: $darkBlue;
            position: relative;
            &:after,
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -1px;
                height: 1px;
                width: 100%;
                background: $darkBlue;
            }
            &:before {
                background: #d4d6d7;
                bottom: 0;
            }
        }
        &__txt04 {
            text-align: center;
            margin-bottom: 20px;
        }
        &__bottom {
            margin-top: 10px;
        }
    }
}

@media (min-width: 768px) {
    .password-forgotten {
        font-size: 18px;
        text-align: center;
        input.form-control {
            max-width: 462px;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
        }

        button[type="submit"] {
            width: 300px;
        }
        &__content {
            display: inline-block;
        }
        &__text {
            line-height: 30px;
            margin-bottom: 13px;
        }
        &__note {
            margin-top: 17px;
            margin-bottom: 22px;
            line-height: 30px;
            font-size: 18px;
            &__asterisk {
                a {
                    color: $lightBlue;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:before {
                    content: "＊";
                    position: relative;
                    left: 0;
                    top: 0;
                    display: inline-block;
                }
            }
        }
        /***SEND MAIL***/
        &__success {
            p {
                font-size: 18px;
                line-height: 30px;
            }
            &__title {
                margin-top: 10px;
                margin-bottom: 21px;
                font-size: 24px;
            }
            &__email {
                font-size: 24px !important;
                font-weight: bold;
                margin-bottom: 26px;
            }
            &__again {
                color: #001925;
                &:hover {
                    color: $lightBlue;
                    &:before {
                        background: $lightBlue;
                    }
                }
                &:before {
                    background: #a3a7a9;
                    bottom: 2px;
                }
                &:after {
                    content: none;
                }
            }
            &__bottom {
                margin-top: 40px;
                text-align: center;
                .btn {
                    min-width: 296px;
                    display: inline-block;
                }
            }
            /***bottom***/
        }
        /***END SEND MAIL***/
    }

    /****USER RESET***/
    .user-reset {
        padding-top: 11px;
        .email-text {
            font-size: 18px;
        }
        .input-group {
            max-width: 470px;
        }
        .input-group__addon__btn {
            min-width: 140px;
        }
        .form-group:last-child {
            margin-bottom: 20px;
        }
        .block-form__btn-bottom {
            margin-top: 0;
        }
    }
    /****END USER RESET***/
    /****USER COMPLETED****/
    .password-forgotten--complete {
        padding-top: 5px;
        padding-bottom: 0;
        .password-forgotten__success__title {
            margin-bottom: 12px;
        }
        .password-forgotten__success__txt04 {
            margin-bottom: 14px;
        }
        .password-forgotten__success__bottom {
            margin-top: 13px;
        }
    }
    /****END USER COMPLETED****/
}