@charset "utf-8";
.password-forgotten-page {
	.input-group__control input{
		font-size: 14px;
	}
	.email-text{
		margin-bottom: 2px;
		font-weight: bold;
	}
	.password-forgotten {
	    &__text {
			margin-bottom: 7px;
			line-height: 20px;
		}
	    &__note {
			margin:16px 0 9px;
			font-size: 12px;
			line-height: 16px;
			&__asterisk{
				position: relative;
				padding-left: 15px;
				&::before{
					content:"＊";
					position: absolute;
					left: 0;
					top: 0;
				}
			}
	    	a {
	    		color: $lightBlue;
	    		font-weight: bold;
	    	}
	    }
	/*** When password forgotten success***/
		&--complete{
			padding-bottom: 118px;
		}
		&__success{
			font-size: 12px;
			line-height: 16px;
			&__title{
				font-size: 16px;
				font-weight: bold;
				line-height: 20px;
				margin-bottom: 10px;
				text-align: center;
			}
			&__email{
				margin:19px 0 39px;
				color: $lightBlue;
				font-size: 15px;
				text-align: center;
			}
			&__again{
				margin-top: 14px;
				margin-bottom: 3px;
				display: inline-block;
				color:$darkBlue;
				position: relative;
				&:after,&:before{
					content:"";
					display: block;
					position: absolute;
					left:0;
					bottom:-1px;
					height: 1px;
					width:100%;
					background: $darkBlue;
				}
				&:before{
					background: #d4d6d7;
					bottom:0;
				}
			}
			&__txt04{
				text-align: center;
				margin-bottom: 20px;
			}
			&__bottom{
				margin-top: 10px;
			}
		}
	}
	.block-form__sec{
		padding-bottom: 10px;
	}
	.form-group,
	.input-group{
		margin-bottom: 0;
	}
}