@charset "utf-8";
.block-point-number {
    text-align: center;
    background: $yellow;
    margin: 0 auto;
    max-width: 300px;
    display: table;
    &__icon,
    dl{
        display:table-cell;
    }
    dl{
      dt{
        font-size: 32px;
        border-bottom: 1px solid #b29b17;
        font-weight: bold;
        padding-bottom: 8px;
        margin-bottom: 17px;
        line-height: 1;
      } 
    }
    
}