@charset "utf-8";
.qa-page{
    .block-accordion {
        margin-left:-10px;
        margin-right: -10px;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box;
        overflow: hidden;
        background: #fff;
        &__title {
            width: 100%;
            padding: 15px 10px 11px;
            padding-right: 40px;
            cursor: pointer;
            display: block;
            border-bottom: 1px solid #e1e7eb;
            background: #f1f5f8;
            transition:all linear 0.15s;
            text-decoration: none;
            font-size: 14px;
            color: $darkBlue;
            letter-spacing: 2px;
            position: relative;
            &:after {
                content: "\f107";
                font-family: "FontAwesome";
                font-size: 29px;
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            &.active:after {
                content: "\f106";
            }
            &.active,
            &.hover {
                background: #fff;
                text-decoration: none;
            }        
        }
        &__content {
            padding: 10px;
            display: none;
            font-size: 12px;
            line-height: 18px;

            & a {
                text-decoration: underline;
                color: #06C;
            }
        }
        &__date {
            background:none;
            text-decoration: none;
            display: block;
            font-size: 9px;
            margin-bottom: 5px;
        }
        &__section {
            margin-bottom: 2px;
            &:last-child {
                margin-bottom: 0;
                &__title {
                    border-bottom: none;
                }
            }
        }
    }
    .block-mypage{
        margin-left: -10px;
        margin-right: -10px;
        &__menu li {
            @extend %inline-block;
            background: #f1f5f8;
            border-top:1px solid #ffffff;
            border-bottom: 1px solid #e1e7eb;
            margin-bottom: 1px;
            position: relative;
            padding:0;
            &:last-child {
                margin-bottom: 0;
            }
            >a {
                padding: 15px 10px 11px;
                position: relative;
                top:0;
                display: block; 
                line-height: 18px;
                &:after {
                    content: "\f105";
                    font-family: "FontAwesome";
                    font-size: 29px;
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media (min-width: 767px) {
    .qa-page {
        & .sub-title {
            margin-top: 30px;
            margin-bottom: 20px;
            &:before {
                margin-top: -14px;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
                border-left: 7px solid #fbe43c;
            }
            &:after {
                height: 27px;
                margin-top: -15px;
            }
        }
        .title-center {
            margin-top: 0;
        }
        .block-accordion {
            margin-left: 0;
            margin-right: 0;
            &__content {
                font-size: 18px;
                line-height: 30px;

                & a {
                    text-decoration: underline;
                    color: #06C;
                }
            }
        }
        .block-mypage {
            margin-left: 0;
            margin-right: 0; 
            &__menu li {
                >a {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }
        .block-accordion__title {
            font-size: 18px;
            padding: 14px 10px;
        }
        .sidebar .sidebar-register {
            margin-top: 10px;
        }
    }
}