/* Request History */
.request-history-page {
	.page-title{
		margin-bottom: 9px;
	}
	& .item-box--requesthistory{
		padding-bottom: 0.65625rem;
		margin-bottom: 0;
		overflow: hidden;
		border-bottom: 1px solid #e1e7eb;
    }
	& li {
		&:last-child {
			& .item-box {
				margin-bottom: 0;
			}
		}
	}
	& .item-box {
		margin-bottom: 20px;
        &__head {
            overflow: inherit;
		    display: table;
		    width: 100%;
		    border-collapse: separate;
		    border-spacing: 0;
		    position: relative;
		    & .item-box__des,
		    & .item-box__arrow {
		    	display: table-cell;
			    vertical-align: middle;
			    padding: 12px 0 9px;
		    }
		    & .item-box__des {
		    	vertical-align: top;
			    padding-right: 12px;
			    font-weight: bold;
		    }
		    & .item-box__arrow {
			    background: #eff4f7;
			    color: $darkBlue;
			    width: 24px;
			    text-align: center;
			    font-size: 20px;
			    -webkit-border-radius: 0 3px 3px 0;
			    -moz-border-radius: 0 3px 3px 0;
			    -ms-border-radius: 0 3px 3px 0;
			    border-radius: 0 3px 3px 0;
			    position: relative;
				z-index: 1;
				padding:0;
				line-height: 1px;
		    }
		    &:before {
		    	content: "";
			    display: block;
			    height: 1px;
			    width: calc(100% - 3px);
			    background: #e1e7eb;
			    position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 2;
		    }
        }
        &__content {
        	& .item-box__date {
        		background: #fbe43c;
        		padding: 8px 10px 5px;
				margin-top: 2px;
				font-size: 12px;
        		& .text {
	        		float: left;
	        		color: #a3a7a9;
	        	}
	        	& .date {
	        		float: right;
	        		color: $darkBlue;
	        		letter-spacing: 0.2px;
	        	}
        	}
        	& .item-box__company {
				margin: 10px 0 15px;
				overflow: hidden;
				& .item-box__name {
					font-size: 12px;
	        		& .name {
	        			color: #a3a7a9;
	        		}
	        		& .des {
						margin-top: 2px;
						margin-bottom: 10px;
	        			font-weight: bold;
	        		}
	        	}
        	}
        }
        & .group_btn {
			margin-bottom: 1px;
			& .btn {
				$btnRH: &;
				padding-top: 10px;
				margin-top: 0;
				padding-bottom: 8px;
				margin-bottom: 12px;
	        	& span {
		            display: block;
		            font-weight: normal;
		            letter-spacing: 1px;
		        }
		        &__head {
					text-align: left;
					line-height: 18px;
					padding-bottom: 9px;
					font-size: 12px;
		        }
		        &__bottom {
					$btnBttm: &;
					padding-top: 10px;
					font-weight: bold;
					position: relative;
					&::before,&::after{
						content: "";
						height: 1px;
						width: 100%;
						position: absolute;
						left:0;
					}
					&::before{
						top:-3px;
						background: #d2dce2;
					}
					&::after{
						top:-2px;
						background: #ecf2f5;
					}
				}
				&--pink{
					background-color: #f04b6b;
					-ms-box-shadow: 0 1px #c52e4b, inset 0 1px #ff7f98;
					-webkit-box-shadow: 0 1px #c52e4b, inset 0 1px #ff7f98;
					-moz-box-shadow: 0 1px #c52e4b, inset 0 1px #ff7f98;
					box-shadow: 0 1px #c52e4b, inset 0 1px #ff7f98;
					.btn__bottom{
						@include text-shadow(0 1px #c52e4b);
					}
					.btn__bottom{
						&::before{
							top:-3px;
							background: #c52e4b;
						}
						&::after{
							top:-2px;
							background: #ff7f98;
						}
					}
				}
				&--blue{
					background-color: #80bc42;
					-webkit-box-shadow: 0 1px #639d27, inset 0 1px #9ad35e;
					-moz-box-shadow: 0 1px #639d27, inset 0 1px #9ad35e;
					-ms-box-shadow: 0 1px #639d27, inset 0 1px #9ad35e;
					box-shadow: 0 1px #639d27, inset 0 1px #9ad35e;
					.btn__bottom{
						@include text-shadow(0 1px #639d27);
					}
					.btn__bottom{
						&::before{
							top:-3px;
							background: #639d27;
						}
						&::after{
							top:-2px;
							background: #9ad35e;
						}
					}
				}
				&--gray{
					background: #e1e7eb;
					.btn__bottom{
						&::before{
							top:-3px;
							background: #d2dce2;
						}
						&::after{
							top:-2px;
							background: #ecf2f5;
						}
					}
				}
	        }
        }
	}
}

@media (min-width: 768px) {
	.request-history-page {
		& .item-box {
			&__head {
			    & .item-box__des {
				    padding: 30px 0;
			    }
			    & .item-box__arrow {
				    width: 47px;
				    font-size: 40px;
				    padding: 0;
			    }
	        }
			&__content {
	        	& .item-box__date {
					font-size: 18px;
				    padding: 0 10px;
				    background: #eff4f7;
				    & .text {
				    	line-height: 45px;
				    	color: #001925;
				    }
				    & .date {
				    	line-height: 45px;
				    	font-size: 14px;
				    }
	        	}
	        	& .item-box__company {
	        		margin-top: 20px;
					& .item-box__name {
						font-size: 18px;
						& .des {
						    margin-top: 10px;
						    margin-bottom: 20px;
						    font-weight: normal;
						}
		        	}
	        	}
	        }
	        & .group_btn {
	        	& .clearfix {
	        		margin-bottom: 20px;
	        	}
	        	&:after{
	        		content:"";
	        		display: block;
	        		clear: both;
	        	}
				& .btn {
					width: calc(50% - 10px);
					float: left;
					font-size: 14px;
					line-height: 22px;
					padding-right: 20px;
					padding-left: 20px;
					margin-bottom: 20px;
					&:hover{
						opacity: 0.7;
					}
					&:nth-child(2n){
						float: right;
					}
					&:nth-child(2n+1){
						clear: both;
					}
			        & span:last-child {
			        	font-weight: bold;
		        	    font-size: 18px;
			        }
			        &--txt__left {
			        	text-align: left;
			        }
		        }
	        }
		}
	}
	.row {
		box-sizing: border-box;
		margin-right: -15px;
		margin-left: -15px;
		&:before, &:after {
			display: table;
    		content: "";
		}
		&:after {
			clear: both;
		}
	}
	.col-2 {
		float: left;
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
	}
}