@charset "utf-8";
.search-result-page{
	.page-title {
		margin-bottom: 12px;
	}
	.block-search-form{
		input{
			@include webkit-input-placeholder($darkBlue);
		}
		.form-group{
			margin-bottom: 12px;
		}
		&__tt{
			font-size: 11px;
			line-height: 16px;
			margin-bottom: 6px;
		}
		&__btn-bottom{
			margin-bottom: 18px;
		}
	}
	.item-list {
		&__box {
			height: 120px;
		}
		> ul {
			padding-bottom: 12px;
		}
		&__thumb {
			width: 100px;
			h3 {
				padding: 0 10px;
				line-height: 18px;
				width: 100px;
			}

			& .block-option {
				height: auto;
				& > ul > li > a > img {
					width: auto;
				}
			}
		}
		&__photo {
			height: 56px;
			overflow: hidden;
		}
		&__des {
			height: 108px;
			overflow: hidden;
			&__title {
				height: 82px;
				max-height:none;
				overflow: hidden;
			}

			&__list {
				font-size: 11px;
				height: 20px;

				& > span:not(:last-child) {
					border-right: 2px solid $yellow;
					padding-right: 8px;
				}

				& > span:not(:first-child) {
					padding-left: 8px;
				}
			}

		}
		&__arrow {
			width: 25px;
		}
	}
}