.whats-page {
    * {
        box-sizing: border-box !important;
    }
    $yellow: #ffeb58;
    $gray-whats: #e1e7eb;
    a.btn {
        line-height: 1.2;
        font-size: 18px;
        letter-spacing: 0;
    }
    .point-block {
        padding-bottom: 20px;
    }
    .yellow-background {
        background-color: #fef8ce;
    }
    .cyan-dash-bottom-border {
        border-bottom: 1px dashed $lightBlue;
    }
    .whats {
        &__mainvisual {
            @include background-image('../../images/img_whats_mainvisual.jpg', no-repeat, cover, top);
            height: 81.25vw;
            max-height: 520px;
            padding-top: 22%;
            padding-left: 5%;
            margin-bottom: 0;
        }
        &__look {
            margin-top: 0;
            margin-left: -10px;
            margin-right: -10px;
            @include background-image('../../images/img_whats_look_bg.jpg', no-repeat, cover, bottom);
            padding-bottom:10%;
            background-color: #fef8ce;
            padding-top: 12px;
            .step-img{
                padding-top: 13px;
                padding-left:3.125%;
                padding-right:3.125%;
                text-align: center;
                img{
                    max-width: 100%;
                }
            }
        }
        &__stripes-title {
            height: 40px;
            line-height: 44px;
            font-size: 18px;
            position: relative;
            top: 8px;
        }
        &__paragraphs {
            padding-top: 8px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            &--relative {
                position: relative;
                top: 10px;
            }
        }
        &__steps-image {
            margin-top:-10%;
            img {
                width: 100%;
            }
        }
        &__big-title {
            display: table;
            width: 100%;
            margin-top: 13px;
            margin-bottom: 4px;
            padding: 0 5px;
        }
        &__shadow-image {
            @include box-shadow(5px 5px 0px 0px $yellow);
            img {
                display: block;
                width: 100%;
            }
        }
        &__full-width {
            margin-left: -10px;
            margin-right: -10px;
        }
        &__yellow-point {
            display: table;
            width: 100%;
            padding: 14px 10px 9px;
        }
    }
    .yellow-point {
        &__icon {
            display: table-cell;
            width: 7%;
            vertical-align: top;
            img {
                width: 15px;
            }
        }
        &__text {
            display: table-cell;
            vertical-align: top;
            font-size: 12px;
        }
    }
    .big-title {
        &__number {
            display: table-cell;
            font-size: 75px;
            color: $yellow;
            line-height: 1;
            width: 1%;
            img[alt="Number one"] {
                width: 17px;
            }
            img[alt="Number two"] {
                width: 34px;
            }
            img[alt="Number three"] {
                width: 32px;
            }
        }
        &__text {
            display: table-cell;
            font-size: 24px;
            font-weight: bold;
            vertical-align: middle;
        }
    }
    .stripes-title {
        &--yellow {
            background: repeating-linear-gradient( 135deg, rgba(255,255,255,0), rgba(255,255,255,0) 10px, $yellow 10px, $yellow 20px );
            @include text-shadow-down(#fff);
        }
        &--gray {
            padding: 0 10px;
            position: inherit;
            top: unset;
            background: repeating-linear-gradient( 135deg, rgba(255,255,255,0), rgba(255,255,255,0) 10px, $gray-whats 10px, $gray-whats 20px );
        }
    }
    .mainvisual {
        &__text {
            font-size: 3.75vw;
            letter-spacing: 25;
            @include text-shadow-rounded(#fff);
            @media (min-width: 765px) {
                font-size: 30px;
            }
        }
        &__logo {
            img {
                width: 50vw;
                max-width: 300px;
                -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
            }
        }
    }
    .point-question {
        background-color: #fef8ce;
        padding: 12px 10px 7px;
        font-size: 12px;
        li {
            display: block;
            border-bottom: 1px dashed $lightBlue;
        }
    }
    .red {
        color: #f00;
    }
}