/* FONT-SIZE HELPERS */

@for $fs from 0 through 30 {
    .fs#{$fs} {
        font-size: $fs + 0px;
        &-ipt {
            font-size: $fs + 0px !important;
        }
    }
}


/* SPACINGS HELPERS */

$types: ('padding', 'margin', 'width', 'height');
$sides: ('top', 'right', 'bottom', 'left');
@each $type in $types {
    @if $type==width or $type==height {
        @if $type==width {
            @for $space from 0 through 100 {
                @if $space < 10 {
                    .#{str-slice($type, 0, 1)}#{0}#{$space} {
                        #{$type}: #{$space}#{'%'};
                        &-ipt {
                            #{$type}: #{$space}#{'%'} !important;
                        }
                    }
                }
                @else {
                    .#{str-slice($type, 0, 1)}#{$space} {
                        #{$type}: #{$space}#{'%'};
                        &-ipt {
                            #{$type}: #{$space}#{'%'} !important;
                        }
                    }
                }
            }
        }
        @else {
            @for $space from 0 through 100 {
                @if $space < 10 {
                    .#{str-slice($type, 0, 1)}#{0}#{$space} {
                        #{$type}: #{$space}#{'px'};
                        &-ipt {
                            #{$type}: #{$space}#{'px'} !important;
                        }
                    }
                }
                @else {
                    .#{str-slice($type, 0, 1)}#{$space} {
                        #{$type}: #{$space}#{'px'};
                        &-ipt {
                            #{$type}: #{$space}#{'px'} !important;
                        }
                    }
                }
            }
        }
    }
    @else {
        @each $side in $sides {
            @for $space from 0 through 100 {
                @if $space < 10 {
                    .#{str-slice($type, 0, 1)}#{str-slice($side, 0, 1)}#{0}#{$space} {
                        #{$type}-#{$side}: #{$space}px;
                        &-ipt {
                            #{$type}-#{$side}: #{$space}px !important;
                        }
                    }
                }
                @else {
                    .#{str-slice($type, 0, 1)}#{str-slice($side, 0, 1)}#{$space} {
                        #{$type}-#{$side}: #{$space}px;
                        &-ipt {
                            #{$type}-#{$side}: #{$space}px !important;
                        }
                    }
                }
            }
        }
    }
}