$font-awesome: "FontAwesome";
$font-size-base: 14px !default;
$lightBlue:#3ab0d0;
$darkBlue:#001925;
$yellow:#FBE43B;
$blueGrey: #f1f5f8;
$org:#fa9228;
$bxShadow:0 1px #d0d6da,inset 0 1px rgba(255, 255, 255, .5);
