@mixin border-top-radius($radius) {
    -ms-border-top-left-radius: $radius;
    -ms-border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  @mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
       border-top-right-radius: $radius;
  }
  @mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
     border-bottom-left-radius: $radius;
  }
  @mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
       border-top-left-radius: $radius;
  }
  
  @mixin border-top-left-radius($radius) {
    -ms-border-top-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
         -moz-border-radius-topleft: $radius;
             border-top-left-radius: $radius;
  }
  @mixin border-top-bottom-right-radius($radius) {
      -webkit-border-radius: 0 $radius $radius 0;
    -moz-border-radius: 0 $radius $radius 0;
    -ms-border-radius: 0 $radius $radius 0;
    border-radius: 0 $radius $radius 0;
  }
@mixin border-top-bottom-left-radius($radius) {
  -webkit-border-radius: $radius 0 0 $radius;
  -moz-border-radius: $radius 0 0 $radius;
  -ms-border-radius: $radius 0 0 $radius;
  border-radius: $radius 0 0 $radius;
}
  @mixin border-radius($radius) {
            border-radius: $radius;
    -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        -o-border-radius: $radius;
  }
  @mixin background-size($cover) {
    -webkit-background-size:$cover;
      -ms-background-size: $cover;
      -moz-background-size:$cover;
      background-size:$cover;
  }

  @mixin background-image($url, $repeat, $size, $position) {
    background-image: url($url);
    background-repeat: $repeat;
    @include background-size($size);
    background-position: $position;
  }

@mixin webkit-input-placeholder($color){
   &::-webkit-input-placeholder {
      color: $color;
   }
   &::-ms-input-placeholder {
      color: $color;
   }
   &:-ms-input-place-holder {
      color: $color;
   }
   &::-moz-placeholder {
      color: $color;
      opacity: 1;
   }
   &:-moz-placeholder {
     color: $color;
     opacity: 1;
   }
   &::placeholder {
     color: $color;
   }
}

@mixin cutrow($x) { 
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $x;
}

@mixin selectAlignText($align) {
  text-align-last: $align;
  text-align: $align;
  -ms-text-align-last: $align;
  -moz-text-align-last: $align;
}
@mixin text-shadow($val){
  -ms-text-shadow: $val;
  -moz-text-shadow: $val;
  -webkit-text-shadow: $val;
  text-shadow: $val;
}
@mixin text-shadow-rounded($color) {
  -ms-text-shadow: 0px 0px 5px $color,
  1px 1px 5px $color,
  -1px -1px 5px $color,
  0px 1px 5px $color,
  1px 0px 5px $color;
  -moz-text-shadow: 0px 0px 5px $color,
  1px 1px 5px $color,
  -1px -1px 5px $color,
  0px 1px 5px $color,
  1px 0px 5px $color;
  -webkit-text-shadow: 0px 0px 5px $color,
  1px 1px 5px $color,
  -1px -1px 5px $color,
  0px 1px 5px $color,
  1px 0px 5px $color;
  text-shadow: 0px 0px 5px $color,
  1px 1px 5px $color,
  -1px -1px 5px $color,
  0px 1px 5px $color,
  1px 0px 5px $color;
}
@mixin text-shadow-down($color) {
  -ms-text-shadow: 0px 2px 0px $color, 1px 1px 0px $color, -1px 0px 0px $color;
  -moz-text-shadow: 0px 2px 0px $color, 1px 1px 0px $color, -1px 0px 0px $color;
  -webkit-text-shadow: 0px 2px 0px $color, 1px 1px 0px $color, -1px 0px 0px $color;
  text-shadow: 0px 2px 0px $color, 1px 1px 0px $color, -1px 0px 0px $color;
}
@mixin box-shadow($val){
  -ms-box-shadow: $val;
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  box-shadow: $val;
}
/*****BEM*****/
@mixin b($block) {
  .#{$block} {
      @content; 
  }
}
@mixin e($element) {
  &__#{$element} {
      @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
      @content;
  }
}